**/*flycheck*
**/*flycheck*/
**/*gmon*
**/*build/
**/__pycache__/
**/.bpad/
**/bpad*
**/pydevd-pycharm.egg
**/.nfs*
**/*.dbg
**/*.wlf
**/work/
**/xcelium.d/
**/xmvlog*
**/xrun*
**/transcript
**/modelsim.ini
**/flymd*
**/ucli.key
**/.idea
**/*.bak
**/*.stim
**/*.expresp
**/*.rpt
**/*.vstf
